description "Monitor files and send to Papertrail remote syslog"
start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid papertrail
chdir /var/lib/papertrail

script
  if [ -f {{ papertrail_conf }} ]; then
    exec /opt/remote_syslog/remote_syslog -D
  fi
end script
